# Env
.env
*.env.local

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# AWS SAM
.aws-sam/
samconfig.toml.local
